body {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

header {
  padding: 20px 0;
}

header .row,
footer .row {
  display: flex;
  align-items: center;
}

header h1 {
  font-weight: 700;
  margin: 0;
}

header h3 {
  font-weight: normal;
}

header nav {
  display: flex;
  justify-content: flex-end;
}

header p {
  padding: 0 20px;
  margin: 0;
}

.jumbotron {
  display: block;
  align-items: left;
  background-image: url('https://www.brewster.ca/brewster_travel/media/Images/Attractions/Glacier-Skywalk/BN-Glacier-Skywalk-Below-Far.jpg?width=1400&height=800&ext=.jpg');
  background-size: cover;
  color: #ffffff;
  height: 500px;
  text-shadow: 0.25px 0.25px 0.25px #000000;
}

.jumbotron h1 {
  margin-left: 50px;
}

.jumbotron h2 {
  font-size: 60px;
  font-weight: 700;
  margin: 0;
  color: #fff;
}

.jumbotron h3 {
  margin: 0 0 20px;
  color: #fff;
  margin-left: 50px;
}

section .row img {
  margin: 0 0 30px;
  width: 100%;
}

.col-md-6 {
  margin: 0 0 30px;
}

.btn.btn-primary {
  border-radius: 2px;
  border: 0px;
  color: #fbd1d5;
  text-shadow: none;
  background-color: #ffffff;
}

.btn.btn-primary:hover {
  color: #ffffff;
  background-color: #fbd1d5;
}

.btn-secondary {
  background-color: #E8DFE0;
  color: #ffffff;
  margin: 0 0 30px;
}

footer {
  font-size: 12px;
  display: table;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

footer .col-sm-8 {
  display: flex;
  text-align: center;
}

footer ul {
  list-style: none;
  text-align: center;
}

footer li img {
  width: 32px;
  height: 32px;
  text-align: center;
}

.description {
  font-size: 30px;
  padding: 10px;
}

.navbar {
  margin-bottom: 0;
  border-radius: 0;
}
